* {
  box-sizing: border-box;
}
body {
  background: #223053;
  color: white;
  font-weight: bold;
  font-size: 24px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.row {
  display: flex;
  position: relative;
}

.centered {
  justify-content: center;
}
.centered algo-stack {
  width: 100%;
}
.min-height {
  height: 62px;
}
.centered-column {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cell-3d {
  /*outline: 1px solid red;*/
  /*border: 2px solid white;*/
}
.cell-3d + .cell-3d {
  /*margin-left: -2px;*/
}
.cell-absolute {
  position: absolute;
  transform: translateX(30px);
}

.stagger,
.pointer {
  visibility: hidden;
}

.arrow {
  visibility: hidden;
  opacity: 0;
  display: inline-block;
  width: 40px;
  height: 40px;
}

.arrow-svg {
  width: 40px;
  height: 40px;
}

.var {
  font-size: 12px;
}
.label {
  margin-bottom: 10px;
}
.marker {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

[data-outline] {
  border: 1px solid red;
}
[data-outline="white"] {
  border: 1px solid white;
}

path[stroke-width] {
  stroke: currentColor;
}
