* {
  box-sizing: border-box;
}
body {
  background: #223053;
  color: white;
  font-weight: bold;
  font-size: 24px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
